<!DOCTYPE html>
<html lang="en">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<title>LTU</title>
</head>
<body style="margin-top: 30px;">
	<div class="container">
		<div class="row" style="max-width: 200px;">
			<img class="img-fluid" alt="LULEÅ TEKNISKA UNIVERSITET"	src="https://upload.wikimedia.org/wikipedia/commons/archive/d/d3/20190109125935%21LTU_logo.svg">
		</div>
	</div>
	<div class="container">
		<div class="row">
			<!-- val för vilken kurs och modul -->
			<div class="col">
				<input placeholder="Ange Kurskod" id="searchTxt"
					class="form-control"></input>
			</div>
			<div class="col">
			    <form>
			        <div class="input-group">
			            <div class="input-group-prepend">
			                <span class="input-group-text">Från:</span>
			            </div>
			            <select id="startYear" class="form-select">
							<option value="" selected disabled hidden>År</option>
							<option value="2020">2020</option>
							<option value="2019">2019</option>
						</select>
						<select id="startMonth" class="form-select">
							<option value="" selected disabled hidden>Månad</option>
							<option value="01">Januari</option>
							<option value="02">Februari</option>
							<option value="03">Mars</option>
							<option value="04">April</option>
							<option value="05">Maj</option>
							<option value="06">Juni</option>
							<option value="07">Juli</option>
							<option value="08">Augusti</option>
							<option value="09">September</option>
							<option value="10">Oktober</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
			        </div>
			    </form>
			</div>
			<div class="col">
			    <form>
			        <div class="input-group">
			            <div class="input-group-prepend">
			                <span class="input-group-text">Till:</span>
			            </div>
			            <select id="endYear" class="form-select">
							<option value="" selected disabled hidden>År</option>
							<option value="2020">2020</option>
							<option value="2019">2019</option>
						</select>
						<select id="endMonth" class="form-select">
							<option value="" selected disabled hidden>Månad</option>
							<option value="01">Januari</option>
							<option value="02">Februari</option>
							<option value="03">Mars</option>
							<option value="04">April</option>
							<option value="05">Maj</option>
							<option value="06">Juni</option>
							<option value="07">Juli</option>
							<option value="08">Augusti</option>
							<option value="09">September</option>
							<option value="10">Oktober</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
			        </div>
			    </form>
			</div>
		</div>
	</div>
	<!-- Knappar som utför script, detta var tänkt att göras som "onchange" för <select> dropdowns -->


	<div id="app-3">
		<div class="container">
			<br>
			<button class="btn btn-secondary" onclick="data()"
				v-on:click="loadData()">Ladda kurstillfällen</button>
			<!--<p>
			<button v-on:click="showBetyg()">Visa Ladok betyg</button>
		</p>
		<p>
			<button v-on:click="setBetygLadok()">Satt Betyg</button>
		</p>-->
			<!-- <button class="btn btn-secondary" onclick="data2()"
				v-on:click="loadKursEvents()">Ladda Lektioner</button> -->
			<!--<p>
			<button v-on:click="loadModule()">Ladda module</button>
		</p>-->
			<!-- <button class="btn btn-secondary" onclick="data3()"
				v-on:click="mittskit()">Ändra lektion</button> -->
			<div id="t1" style="display:none; margin-top: 30px;">
				<table class="table table-striped table-bordered table-light border border-dark">
					<caption>Välj ett kurstillfälle
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" /></svg>
					</caption>
					<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">ID</th>
						<th scope="col">Kurs Namn</th>
						<th scope="col">Info</th>
						<tr>
						<!-- <th scope="col">Omdöme i Canvas</th>
				<th scope="col">Examinationsdatum</th>
				<th scope="col">Betyg i Ladok</th>
				<th scope="col">Status</th>
				<th scope="col">Information</th> -->
					</thead>
					<tbody id="Table1">
						<tr v-for="course in courses">
							<td><input v-on:change="loadKursEvents()" onchange="data2()" type="checkbox" v-model="events"></td>
							<td>{{course.decimalId}}</td>
							<td>{{course.value}}</td>
							<td>{{course.plats}}</td>
							<!-- <td></td>
					<td><input class="form-control" type="date" value="yyyy-mm-dd"></td>
					<td></td>
					<td></td>
					<td>Test</td> -->
						</tr>
					</tbody>
				</table>
			</div>
			<div id="t2" style="display: none;">
				<table class="table table-striped table-bordered table-light border border-dark">
					<caption>Välj en lektion att ändra <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" /></svg>
					</caption>
					<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">ID</th>
						<th scope="col">Datum</th>
						<th scope="col">Tid</th>
						<th scope="col">0</th>
						<th scope="col">1</th>
						<th scope="col">2</th>
						<th scope="col">3</th>
						<th scope="col">4</th>
						<!--<th scope="col">5</th>-->
						<th scope="col">6</th>
						<th scope="col">7</th>
						<th scope="col">8</th>
						<th scope="col">9</th>
						<th scope="col">10</th>
						<th scope="col">11</th>
						<th scope="col">12</th>
						</tr>
					</thead>
					<tbody id="Table2">
						<tr v-for="event in events">
							<td><input v-on:change="mittskit" type="checkbox"></td>
							<td>{{event.id}}</td>
							<td>{{event.startdate}}</td>
							<td>{{event.starttime}}-{{event.endtime}}</td>
							<td>{{event.columns[0]}}</td>
							<td>{{event.columns[1]}}</td>
							<td>{{event.columns[2]}}</td>
							<td>{{event.columns[3]}}</td>
							<td>{{event.columns[4]}}</td>
							<!--<td>{{event.columns[5]}}</td>-->
							<td>{{event.columns[6]}}</td>
							<td>{{event.columns[7]}}</td>
							<td>{{event.columns[8]}}</td>
							<td>{{event.columns[9]}}</td>
							<td>{{event.columns[10]}}</td>
							<td>{{event.columns[11]}}</td>
							<td>{{event.columns[12]}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div v-for="column in columns" id="t3" style="margin-bottom:30px">
			<h5>Lektion: {{column.id}}, {{column.startdate}}, {{column.starttime}}-{{column.endtime}}</h5>
			<div class="row">
				<div class="col">
					<label>Column 0</label>
					<textarea class="form-control">{{column.columns[0]}}</textarea>
					<label>Column 1</label>
					<textarea class="form-control">{{column.columns[1]}}</textarea>
					<label>Column 2</label>
					<textarea class="form-control">{{column.columns[2]}}</textarea>
					<label>Column 3</label>
					<textarea class="form-control">{{column.columns[3]}}</textarea>
					<label>Column 4</label>
					<textarea class="form-control">{{column.columns[4]}}</textarea>
					<label>Column 5</label>
					<textarea class="form-control">{{column.columns[5]}}</textarea>
					</div>
					<div class="col">
					<label>Column 6</label>
					<textarea class="form-control">{{column.columns[6]}}</textarea>
					<label>Column 7</label>
					<textarea class="form-control">{{column.columns[7]}}</textarea>
					<label>Column 8</label>
					<textarea class="form-control">{{column.columns[8]}}</textarea>
					<label>Column 9</label>
					<textarea class="form-control">{{column.columns[9]}}</textarea>
					<label>Column 10</label>
					<textarea class="form-control">{{column.columns[10]}}</textarea>
					<label>Column 11</label>
					<textarea class="form-control">{{column.columns[11]}}</textarea>					
					</div>
				</div>
				<label>Column 12</label>
					<textarea class="form-control">{{column.columns[12]}}</textarea>
				<br>
				<button class="btn btn-secondary">Skicka till Canvas</button>
			</div>
		</div>
	</div>
	<script>
	function data() {
		 document.getElementById("t1").style.display = "flex";
		 document.getElementById("t2").style.display = "none";
		}
	function data2(){
		document.getElementById("t2").style.display = "flex";
		}
	function data3(){
		document.getElementById("t3").style.display = "flex";
		}
	//hämtar kurskod från dropdown
	var sel = document.getElementById("inputState");
	//hämtar betyg från drop
	var selBet = document.getElementById("betygLadok");
	//hämtar module namn från drop
	var selMod = document.getElementById("modulId");
	var selStartYear = document.getElementById("startYear");
	var selStartMonth = document.getElementById("startMonth");
	var selEndYear = document.getElementById("endYear");
	var selEndMonth = document.getElementById("endMonth");
	var message1;
// initierar VUE
	var app2 = new Vue({
   	 el: '#app-3',
   	 data:{
   		 //Array för users, används för att visa resultat från DB
   		courses: [],
   		events: [],
   		columns: [],
//    		 modules: [], användes för att hämta module namnen till drop-listan
   	 },
   	 methods: {
   		 //Hämtar alla studenter
   		 loadData: function(){
   			var selKurs = document.getElementById("searchTxt").value;
   			axios.get('http://localhost:8080/EA-SOA-Projekt/api/response/kurskod/' + selKurs)
			 .then(response => {
				 this.courses = response.data;
				 console.log(response.data);
			 })
			 .catch(error =>{
				 console.log(error);
			 })
   		 }, 
   		 //användes under test
//    		loadModule: function(){
// 			 axios.get('http://localhost:8080/HelloREST/rest/response/modbetyg/' + selMod.value)
// 			 .then(response => {
// 				 this.modules = response.data;
// 				 console.log(response);
// 			 })
// 			 .catch(error =>{
// 				 console.log(error);
// 			 })
// 		 },

   		 //Används för att visa resultat efter sök filter med kurs och modul
   		loadKursEvents: function(){
   			var grid = document.getElementById("Table1");
//	        Reference the CheckBoxes in Table.
	        var checkBoxes = grid.getElementsByTagName("input");
	        //var message;
// 	        var mod = selMod.options[selMod.selectedIndex].text;
	 
	        //Loop through the CheckBoxes. onödigt med loop men "funkar"
	        for (var i = 0; i < checkBoxes.length; i++) {
	            if (checkBoxes[i].checked) {
	                var row = checkBoxes[i].parentNode.parentNode;
	                message1 = row.cells[1].innerHTML;
	            }
	        }
	        alert(message1);
			 axios.get('http://localhost:8080/EA-SOA-Projekt/api/response/kursid/'+ message1 +'/'
					 + selStartYear.value + selStartMonth.value+'01/' + selEndYear.value + selEndMonth.value+'31' )
			 .then(response => {
				 this.events = response.data;
				 console.log(response);
			 })
			 .catch(error =>{
				 console.log(error);
			 })
		 },
		 /* axios.get('http://localhost:8080/EA-SOA-Projekt/api/response/kursid/'+ message1 +'/'
				 + selYear.value + selMonth.value+'01/' + selYear.value + selMonth.value+'31' )
				 .then(mittskit:function(response){
					 
				 }); */
		 mittskit: function(){
			 var grid = document.getElementById("Table2");
			 var checkBoxes = grid.getElementsByTagName("input");
			 var message;
			 for (var i = 0; i < checkBoxes.length; i++) {
		            if (checkBoxes[i].checked) {
		                var row = checkBoxes[i].parentNode.parentNode;
		                message = row.cells[1].innerHTML;
		            }
		        }
			 alert(message);
			 axios.get('http://localhost:8080/EA-SOA-Projekt/api/response/lektid/'+ message1 +'/'
					 + selStartYear.value + selStartMonth.value+'01/' + selEndYear.value + selEndMonth.value+'31/' +message +'' )
			 .then(response => {
				 this.columns = response.data;
				 console.log(response);
			 })
			 .catch(error =>{
				 console.log(error);
			 })
		 }
   	 },
   	 loadLektInfo: function(){
   		 var id = "44850"; 
   		 var info = "HEJ"; 
   		 axios.put('https://ltu.instructure.com/api/v1/' + info.value + '/' + id.value + '') 
   		 .then(response => { 
   			 this.columns = response.data; 
   			 console.log(response); 
   		 }) 
   		 .catch(error =>{ console.log(error); 
   		 }) 
   		 },
    });
    </script>
</body>
</html>